@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Rubik&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    
    line-height: 1.5;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.logo{
    padding-top: 2rem;
}
.hero_section{
    background-image: url('images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.hero_content{
    text-align: center;
    color: white;
}
.white_star img{
    width: 15px;
    height: 15px;
}
.hero_content h1{
    
    
    margin-right: 5rem;
    margin-left: 5rem;
    padding-left: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 46px;
}
.hero_content h3{
  
    margin-right: 7rem;
    margin-left: 7rem;
    padding-bottom: 2.5rem;
    font-size: 24px;
}
.hero_content .review{
    display: block;
    margin-right: 20rem;
    margin-left: 20rem;
    
}
.white_star{
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.hero_content button{
    margin-bottom: 4rem;
    padding: 1.3rem 5rem;
    border-radius: 50px;
    border: none;
    background-color: #091AFF;
    font-size: 16px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}
.benefit_section{
    background-color: #F5F5F7;
    padding: 4rem 0;
    
}
.benefit_section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.benefit_content{
    padding-left: 5rem;
    
}
.benefit_content_section{
    display: flex;
    margin-top: 6rem;
}
.benefit_content_section h1{
    margin-bottom: 1rem;
    font-size: 32px;
}
.benefit_content_section p{
    font-size: 18px;
    margin-right: 5rem;
}
.benefit_content_section img{
    margin-right: 2rem;
    width: 100px;
    height: 100px;
    
}
.fitness_section{
    text-align: center;
    padding-top: 5rem;

}
.fitness_section h1{
    font-size: 3rem;
}
.company_logo .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.company_logo{
    padding: 5rem 0;
    text-align: center;
    background-color: #F5F5F7;
}
.company_logo h1{
    margin-bottom: 3rem;
    font-size: 32px;
}
.img1 {grid-area: img1;}
.img2 {grid-area: img2;}
.img3 {grid-area: img3;}
.img4 {grid-area: img4;}
.img5 {grid-area: img5;}
.img6 {grid-area: img6;}
.grid_container{
    display: grid;
    grid-template-areas: 
        'img1 img2 img3'
        'img4 img5 img6'
    ;
    margin: 0 auto;
    row-gap: 2rem;
    column-gap: 8rem;
}
.grid_container img{
    width: 100%;
}
footer{
    background-image: url('images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    padding: 5rem;
    padding-bottom: 2rem;
}
footer h1{
    margin-bottom: 3rem;
    font-size: 38px;
}
footer button{
    margin-bottom: 4rem;
    padding: 1.3rem 5rem;
    border-radius: 50px;
    border: none;
    background-color: #091AFF;
    font-size: 16px;
    color: white;
}
button:hover{
    box-shadow: 0 0 5px white;
    cursor: pointer;
}
@media (max-width: 950px){
    .hero_content .review{
        margin-right: 10rem;
        margin-left: 10rem;    
    }
}
@media (max-width: 850px){
    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .hero_content h1{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .hero_content h3{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .benefit_section{
        padding-left: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        
    }
    .benefit_content{
        padding-left: 1rem;
        padding-right: 1rem;
        
        
    }
    .benefit_img{
        display: none;
    }
    .benefit_content_section{
        
        margin-top: 3.5rem;
    }
   .benefit_content_heading{
        text-align: center;
        
    }
   
    .benefit_content_section p{
        
        margin-right: 1rem;
        
    }
    .company_logo{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer{
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
    
}

@media (max-width: 600px){
    .hero_content h1{
        font-size: 28px;
    }
    .hero_content h3{
        font-size: 14px;
    }
    .hero_content small{
        display: none;
    }
    .hero_content .review{
        display: none;
    }
    .benefit_section{
        
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        
    }
    .benefit_content_heading{
        
        font-size: 22px;
    }
    .benefit_content_section h1{
    
        font-size: 20px;
    }

    .benefit_content_section p{
        
        
        font-size: 16px;
    }
    .fitness_section{
        display: none;
    }
    .white_star{
        display: none;
    }
    .grid_container{
    
        grid-template-areas: 
            'img1 img2'
            'img3 img4'
            'img5 img6'
        ;
        column-gap: 4rem;
    
    }
    .company_logo{
        background-color: white;
    }
    .company_logo h1{
    
        font-size: 20px;
    }
    footer h1{
        
        font-size: 22px;
    }
    footer button{
        margin-bottom: 2rem;
    }
}